
.resizeIcon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

#minimizeBar {
  position: fixed;
  top:0px;
  right:0px;
  width:100%;
  height:20px;
  z-index: 100;
}

#visibleMinimizeBar {
  width:100%;
  height:19px;
  background-color: white;
  padding: 0px 5px 0px 0px;
/*   display:none; */
  position:absolute;
  top:-19px;
}

#taWidgetContainer.fullsize {
  position: fixed;
  top:0px;
  right:0px;
  width:100%;
  height:100%;
  padding: 0px;
}

#taWidgetContainer {
  width: 100%;
  height: 70vh;
  display: block;
  padding: 0px;
}

.legend {
  color: #737373;
}

.legendIcon {
  width: 15px;
  height: 15px;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.viewTable {
  cursor: pointer;
}

.legendIconEmpty {
  background-image: url('../images/green_box.png');
}

.legendIconMin {
  background-image: url('../images/green_down.png');
}

.legendIconMax {
  background-image: url('../images/green_up.png');
}

.problemArea textArea {
  height: 250px;
  width: 100%;
  resize: none;
  font-family: courier;
}

.advanceEditArea {
  height: 250px;
}

.advanceEditArea textArea {
  height: 100%;
  width: 100%;
  resize: none;
  font-family: courier;
}


#tablePlaceHolder table {
  border: 1px solid #ccc;
  height: 100%;
  width: 100%;
}
#tablePlaceHolder td, #tablePlaceHolder th {
  border:1px solid #D3D3D3;
}
#tablePlaceHolder td {
  padding: 2px;
}

#tablePlaceHolder th .legendIcon {
  float: left;
  width:  14px;
  height: 14px;
  padding-right: 5px;

}

#tablePlaceHolder th .legendIconMin {
  background-image: url('../images/down_arrow.png');
}
#tablePlaceHolder th .legendIconMax {
  background-image: url('../images/up_arrow.png');
}
#tablePlaceHolder tr.even {
  background-color: #e6f7fd;
}

#tablePlaceHolder tr {
  color: #004165;
}

#tablePlaceHolder tr.odd {
  background-color: white;
}

#tablePlaceHolder table th {
  color: #004165;
  background-color: #e3e4e6;
  padding: 2px 4px;
}

#tablePlaceHolder table th.minimize {
  color: #ffffff;
  background-color: #8bc53f;
}

#tablePlaceHolder table th.maximize {
  color: #ffffff;
  background-color: #8bc53f;
}
.result {
  height: 0px;
  overflow: hidden;
  visibility: hidden;
}
.informationIcon {
  padding-left: 5px;
}

.maxSize {
  width: 100% !important;
  height: 100% !important;
}

.errorMsg {
  font-weight:bold;
  color:red;
  white-space: pre-wrap;
}

html.noScroll {
  overflow: hidden;
}

.decisionArea {
  z-index: -1;
}